In [9]:
import numpy as np
import pandas as pd

In [32]:
url ='https://raw.githubusercontent.com/Yorko/mlcourse_open/master/data/mlbootcamp5_train.csv'
df = pd.read_csv(url, sep=';', index_col='id')

In [33]:
df.head(5)

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
id,,,,,,,,,,,,
0,18393,2,168,62.0,110,80,1,1,0,0,1,0
1,20228,1,156,85.0,140,90,3,1,0,0,1,1
2,18857,1,165,64.0,130,70,3,1,0,0,0,1
3,17623,2,169,82.0,150,100,1,1,0,0,1,1
4,17474,1,156,56.0,100,60,1,1,0,0,0,0

In [ ]:
# Вопрос 1. Сколько мужчин и женщин представлено в этом наборе данных?

In [34]:
df[(df['gender'] == 1)]['height'].mean()

161.35561168460356

In [35]:
df[(df['gender'] == 2)]['height'].mean()

169.94789538210054

In [39]:
df.gender.replace(to_replace=[1, 2], value=['female', 'male'], inplace=True)
df.head()

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
id,,,,,,,,,,,,
0,18393,male,168,62.0,110,80,1,1,0,0,1,0
1,20228,female,156,85.0,140,90,3,1,0,0,1,1
2,18857,female,165,64.0,130,70,3,1,0,0,0,1
3,17623,male,169,82.0,150,100,1,1,0,0,1,1
4,17474,female,156,56.0,100,60,1,1,0,0,0,0

In [40]:
df.gender.value_counts()

female    45530
male      24470
Name: gender, dtype: int64

In [41]:
# Вопрос 2. Кто в среднем чаще указывает, что употребляет алкоголь – мужчины или женщины?

In [47]:
women_alco = df[df['gender'] == 'female']['alco']
men_alco = df[df['gender'] == 'male']['alco']
print("Употребляют алкоголь: \n\t среди женщин {}%, \n\t среди мужчин {}%.".format(
    round(100 * women_alco.mean(), 2), 
        round(100 * men_alco.mean(), 2)))

Употребляют алкоголь:
	 среди женщин 2.55%,
	 среди мужчин 10.64%.

In [48]:
# Вопрос 3. Во сколько раз (округленно) процент курящих среди мужчин больше,
# чем процент курящих среди женщин (по крайней мере, по этим анкетным данным)?

In [51]:
women_smoke = df[df['gender'] == 'female']['smoke']
men_smoke = df[df['gender'] == 'male']['smoke']
percent_smoke = men_smoke.mean() / women_smoke.mean()
print('Процент курящих среди мужчин в {} раз больше, чем процент курящих среди женщин'.format(round(percent_smoke, 2)))

Процент курящих среди мужчин в 12.26 раз больше, чем процент курящих среди женщин

In [52]:
# Вопрос 4. На сколько месяцев (примерно) отличаются медианные значения возраста курящих и некурящих?

In [60]:
smoke_age = df[df['smoke'] == 1]['age'].median()
non_smoke_age = df[df['smoke'] == 0]['age'].median()
print('Медианные значения возраста курящих и некурящих отличаются примерно на {} месяцев'.format(round((
non_smoke_age - smoke_age) / 365 * 12)))

Медианные значения возраста курящих и некурящих отличаются примерно на 20 месяцев

In [61]:
# Вопрос 5. Во сколько раз (округленно) отличаются доли больных в двух сегментах, описанных выше?

In [95]:
df['age_years'] = round(df['age'] / 365)
tg_df = df[(df['age_years'] >= 60) & (df['age_years'] <= 64) & (df['gender'] == 'male') & (df['smoke'] == 1)]
g1 = tg_df[(tg_df['ap_hi'] <= 120) & (tg_df['cholesterol'] == 1)]
g2 = tg_df[(tg_df['ap_hi'] <= 180) & (tg_df['ap_hi'] > 160) & (tg_df['cholesterol'] == 3)]
cardio1 = g1[g1['cardio'] == 1]
cardio2 = g2[g2['cardio'] == 1]
p1 = len(cardio1) / len(g1) * 100
p2 = len(cardio2) / len(g2) * 100
print('Процент больных в первой группе   {}%\nПроцент больных во второй группе    {}%'.format(
p1, p2))
print(p2 / p1)

Процент больных в первой группе   32.54237288135593%
Процент больных во второй группе    100.0%
3.072916666666667

In [ ]:
# или

In [93]:
p11 = g1['cardio'].mean()
p22 = g2['cardio'].mean()
print(p22 / p11)

3.072916666666667

In [125]:
# Вопрос 6. Постройте новый признак – BMI.  Выберите верные утверждения.

In [126]:
df['BMI'] = df['weight'] / (pow(df['height'] / 100,2))
women_BMI = df[df['gender'] == 'female']
men_BMI = df[df['gender'] == 'male']
healthy_BMI = df[df['cardio'] == 0]
unhealthy_BMI = df[df['cardio'] == 1]
combine1 = df[(df['gender'] == 'male') & (df['cardio'] == 0) & (df['alco'] == 0)]['BMI'].mean()
combine2 = df[(df['gender'] == 'female') & (df['cardio'] == 0) & (df['alco'] == 0)]['BMI'].mean()

In [127]:
print('#1 Медианный BMI по выборке лежит в пределах нормы {}, {}'.format(
    round(df['BMI'].median()),(df['BMI'].median() > 18.5) & (df['BMI'].median() < 22.5)))
print('#2 У женщин в среднем BMI выше, чем у мужчин {}'.format(women_BMI['BMI'].mean() > men_BMI['BMI'].mean()))
print('#3 У здоровых в среднем BMI выше, чем у больных {}'.format(healthy_BMI['BMI'].mean() > unhealthy_BMI['BMI'].mean()))
print('#4 В сегменте здоровых и непьющих мужчин BMI {}\nВ сегменте здоровых и непьющих женщин BMI {}'.format(combine1,combine2))

#1 Медианный BMI по выборке лежит в пределах нормы 26, False
#2 У женщин в среднем BMI выше, чем у мужчин True
#3 У здоровых в среднем BMI выше, чем у больных False
#4 В сегменте здоровых и непьющих мужчин BMI 25.872638075460173
В сегменте здоровых и непьющих женщин BMI 26.845406594131518

In [128]:
# Вопрос 7. Отфильтруйте следующие сегменты пациентов (считаем это ошибками в данных).
#           Сколько процентов данных (округленно) мы выбросили?

In [162]:
con1 =df['ap_lo'] > df['ap_hi']
con2 = (df['height'] < df['height'].quantile(2.5 / 100)) | (df['height'] > df['height'].quantile(97.5 / 100))
con3 = (df['weight'] < df['weight'].quantile(2.5 / 100)) | (df['weight'] > df['weight'].quantile(97.5 / 100))
df_new = df[con1 | con2 | con3]
n1 = len(df)
n2 = len(df_new)
print(n1, n2, '{}% данных'.format((n2 / n1) * 100))

70000 6741 9.629999999999999% данных